apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: 00-cluster-api-secrets
  namespace: flux-system
spec:
  decryption:
    provider: sops
    secretRef:
      name: cluster-api-sops-gpg
  interval: 11m8s
  timeout: 30s
  path: ./secrets/cluster-api
  prune: true
  dependsOn:  # N.b. (this is not circular)
    - name: 20-my-secrets
  sourceRef:
    kind: GitRepository
    name: cluster-api-bootstrap-repo
