apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: 33-kube-oidc-proxy
  namespace: flux-system
spec:
  interval: 75m
  retryInterval: 10m
  timeout: 5m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./apps/kube-oidc-proxy
  dependsOn:
    - name: 11-certificates
    - name: 20-my-secrets
    - name: 30-ingress-nginx
  prune: true
 #wait: true
  suspend: false
