apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: keycloak
  namespace: traefik-staging
spec:
  entryPoints:
  - web
  routes:
  - kind: Rule
    match: Host(`keycloak.hephy.pro`)
    services:
    - kind: Service
      name: keycloak-public-challenge
      namespace: traefik-staging
      port: 80
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
metadata:
  name: keycloak
  namespace: traefik-staging
spec:
  entryPoints:
    - websecure
  routes:
  - match: HostSNI(`keycloak.hephy.pro`)
    services:
    - name: keycloak-public-challenge
      namespace: traefik-staging
      port: 443
  tls:
    passthrough: true
