apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: 31-openvpn
  namespace: flux-system
spec:
  interval: 15m0s
  retryInterval: 10m
  timeout: 12m0s
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./apps/openvpn
  dependsOn:
    - name: 11-certificates
    - name: 12-persistence
    - name: 20-my-secrets
    - name: 30-ingress-nginx
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: openvpn-openvpn-as
      namespace: openvpn
  prune: false
 #wait: true
  suspend: true
